@font-face {
    font-family: "ADR";
    src: url('./Alimama_DongFangDaKai_Regular.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DS";
    src: url('./DS-DIGIT.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SS";
    src: url('./Smiley_Sans_Oblique_斜体.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "KT";
    src: url('./SanJiKaiShu-2.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "XS";
    src: url('./XiangNanXingShuTi-1.ttf');
    font-weight: normal;
    font-style: normal;
}